@{
    ViewData["Title"] = "Home Page";
}
<ul class="rslides">

    <li><img src="~/img/back.png" alt=""></li>
    <li><img src="~/img/fifo.jpg" alt=""></li>
    <li><img src="~/img/mine.png" alt=""></li>

</ul>
